/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2021, 9:55:32 AM
    Author     : DELL
*/
body{
    background-image: url(../images/bg.jpg);
    font-family: sans-serif;
}
.container{
    width: 700px;
    margin: 2em auto;
}
.main{
    background-color: white;
    height: auto;
}
.content{
    padding: 55px 95px 150px 48px;
    color: #5d7a86;
}

.content input .content textarea{
    color: black;
}
.content button{
    font-weight: bold;
}
.title{
    color: #040588;
    font-weight: 700;
}
.top-content{
    padding: 1px;
    font-weight: bold;
}
.bottom-content{
    margin-top: 50px;
    font-size: 15px;
}
.bottom-content a{
    text-decoration: none; 
}
td{
    vertical-align: top;
}
table{
    width: 100%;
}
.tdlabel{
    width: 15%;
}
textarea{
    width: 100%;
}
.content span{
    color:#1717ff;
}


.th{
    color: #1717ff;
    text-align: left;
}
.each-row{
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px 0;
}
.each-row .left{
    width: 70%;
    padding-right: 10%;
}
.each-row .right{
    width: 20%;
    vertical-align: middle;
    float: right;
}
.error-msg{
    color: red;
}

.paging{
    margin-top: 20px;
    text-align: center;
}

.paging a{
    text-decoration: none;
    background-color: #e0e0e0;
    color: black;
    padding: 8px 6px;
    border-radius: 5px;
}

.active{
    background-color: #5a5656!important;
    color: white!important;
}

#inputNumber{
    width: 70px;
    margin: 5px 0;
}
.button{
    display: flex;
    justify-content: center;
}
.button input{
    color: black;
    font-weight: bold;
}
.label{
    width: 88px;
}
.register .left{
    width: 136px;
}
.do-quiz table ,.question-infor{
    width: 85%;
}
.do-quiz .left{
    width: 60%;
}
.do-quiz .middle{
    width: 40%;
}
.do-quiz .right{
    margin-left: 85%;
}